covjsonkit
earthkit-data
earthkit-geo
earthkit-transforms
earthkit-regrid
h3
healpy
kaleido
lxml
nbclient
nbformat
polytope-client
pydantic
python-dotenv
rasterio
requests
rioxarray
scikit-learn
matplotlib
numpy
xarray
pandas
h5py
netcdf4
ipykernel
zarr
numcodecs
